@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family:"Poppins","sans-serif"
    }
    
}

@layer components{
    .login-page{
        background-image: url('/login_background.svg');
        background-size: cover;
        background-position: center;
    }
    .input{
        @apply w-full text-sm bg-transparent py-3 text-white  rounded outline-none placeholder:text-gray-300 md:placeholder:text-gray-600 md:text-gray-800 md:text-base placeholder:italic
    }
    .button{
        @apply bg-white text-indigo-900 py-2 px-5 rounded-md w-full my-4 hover:bg-indigo-900 hover:text-white transition-all md:bg-indigo-800 md:text-white md:hover:bg-white md:hover:text-indigo-900 md:text-lg
    }
}